@using BoneLog.Blazor.Dtos
@using System.Text.Json
@inject HttpClient Http
@inject SiteSettingsService siteSettings

<nav class="@CssClass">
    @if(siteSettings.Settings?.NavItems == null)
    {
        <p>Loading Items ...</p>
    }
    else
    {
        @foreach(var item in siteSettings.Settings.NavItems)
        {
            <a class="hover:text-indigo-700 transition" href="@item.Url">@item.Title</a>
        }
    }
    @ChildContent
</nav>

@code {
    [Parameter]
    public string CssClass { get; set; } = ""; 
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
