<div class="flex flex-col items-center justify-center min-h-[60vh] text-center space-y-4">
    <p class="text-6xl font-extrabold text-inherit">404</p>
    <p role="alert" class="text-lg text-teal-500">
        Sorry, there's nothing at this address.
    </p>
    <a href="/" class="mt-4 inline-block rounded bg-teal-600 text-white px-5 py-2 hover:bg-teal-800 transition">
        Back to Home
    </a>
</div>