@inject ThemeService ThemeService


<button @onclick="ToggleTheme"
        class="ml-4 border px-3 py-1 rounded-md border-neutral-300 dark:border-white/10
           hover:bg-indigo-900/50 transition-colors duration-300 relative overflow-hidden w-14 h-8">

    <span class="absolute inset-0 flex justify-center items-center transition-all duration-300
                 @(ThemeService.IsDark ? "opacity-100 translate-y-0" : "opacity-0 -translate-y-2")">
        🌚<sub>😎</sub>
    </span>

    <span class="absolute inset-0 flex justify-center items-center transition-all duration-300
                 @(ThemeService.IsDark ? "opacity-0 translate-y-2" : "opacity-100 translate-y-0")">
        😎<sub>🌚</sub>
    </span>
</button>

@code {
    protected override async Task OnInitializedAsync()
    {
        await ThemeService.InitializeAsync();
    }
    private async Task ToggleTheme() => await ThemeService.ToggleAsync();
}

